<div class="grid-container">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="app-title" (click)="home()">Examen app</span>
        <span class="spacer"></span>
        <div class="user-menu">
          <span class="user-menu-title">Welcome, {{authService.currentUserValue.username}}</span>
          <button autotest-id="userMenu" mat-icon-button [matMenuTriggerFor]="menu" class="user-menu-btn">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
              <button autotest-id="usersManagement" mat-menu-item (click)="usersManagement()">
                  <mat-icon>people</mat-icon>
                  <span>Users Management</span>
                </button>
                <!--
              <button *ngIf="authService.currentUserValue.userRole == 'UserManager'" autotest-id="userManagement" mat-menu-item (click)="userManagement()">
              <mat-icon>people</mat-icon>
              <span>User management</span>
            </button>
        -->
            <button autotest-id="logoutBtn" mat-menu-item (click)="logout()">
              <mat-icon>keyboard_tab</mat-icon>
              <span>Log out</span>
            </button>
          </mat-menu>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
  